html{
  background-color: #e3e3e3;
}

.no-select{
  user-select: none;
}

.list-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 8px 24px;
  margin: 5px;
  padding-top: 0px;
  border-radius: 12px;
  font-size: 24pt;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.list h3 {
  margin-top: 24px;
  margin-bottom: 0;
}

.list p {
  margin: 0;
}

.list:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}